@page "/about-us"
@inject LoggedUserState loggedUserState

<div class="background-container">
    <img src=@backgroundImagePath alt="@backgroundImagePath" class="background-image"/>
    <div class="card">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 style="@loggedUserState.H1StyleTagCSS">Welcome to GreenPaws</h1>
                    <p style="@loggedUserState.PStyleTagCSS">Welcome to GreenPaws, your one-stop destination for compassionate and nutritious care for your beloved pets! Our passion for animals drives us to provide specialized vegetarian services tailored to your furry friends.</p>
                    <p>At GreenPaws, we understand that each pet is unique, which is why we offer a range of plant-based meal plans designed to meet their specific nutritional needs. Our expertise in animal well-being ensures that your dogs, and even other animals under your care, receive the best possible care and attention.</p>
                    <p>With our deep-rooted commitment to promoting a healthy and cruelty-free lifestyle, GreenPaws is here to guide you on the journey towards providing your pets with wholesome and sustainable nutrition. Join us in creating a happier, healthier world for your pets, one plant-based meal at a time!</p>
                </div>
                <div class="col">
                    <h1 style="@loggedUserState.H1StyleTagCSS">Meet Our Team</h1>
                    <ul style="@loggedUserState.PStyleTagCSS">
                        <li>
                            <span class="employee">Dr. Emily Rodriguez</span><br>
                            Veterinarian & Co-Founder
                        </li>
                        <li>
                            <span class="employee">Sarah Anderson</span><br>
                            Pet Nutritionist
                        </li>
                        <li>
                            <span class="employee">Michael Chen</span><br>
                            Animal Care Specialist
                        </li>
                        <li>
                            <span class="employee">Alexa Williams</span><br>
                            Customer Relations Manager
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@code 
{
    public event PropertyChangedEventHandler PropertyChanged;
    public string backgroundImagePath = "./Images/Background_Images/Dog_Background1.jpg";

    /// <summary>
    /// On initialized setup propertyChanged event and load the page data.
    /// </summary>
    protected override void OnInitialized()
    {
        loggedUserState.PropertyChanged += OnloggedUserStateChanged;

        // Subscribe to the PropertyChanged event of AppPreferences
        if (loggedUserState.LoggedUser != null && loggedUserState.LoggedUser.AppPreferences != null)
        {
            loggedUserState.LoggedUser.AppPreferences.PropertyChanged += OnAppPreferencesChanged;
        }
        backgroundImagePath = loggedUserState.GetBackgroundImage();
    }

    /// <summary>
    /// If the user logs in; update the data on this page.
    /// </summary>
    /// <param name="sender"></param>
    /// <param name="e"></param>
    private void OnloggedUserStateChanged(object sender, PropertyChangedEventArgs e)
    {
        // Check if the property that changed is "LoggedUser"
        if (e.PropertyName == nameof(loggedUserState.LoggedUser))
        {
            loggedUserState.LoggedUser.AppPreferences.PropertyChanged += OnAppPreferencesChanged;
            backgroundImagePath = loggedUserState.GetBackgroundImage();
            StateHasChanged();
        }
    }

    // Handle changes to the AppPreferences or its sub-properties
    private void OnAppPreferencesChanged(object sender, PropertyChangedEventArgs e)
    {
        // Check if the property that changed is one of the AppPreferences properties
        // that you want to monitor
        if (e.PropertyName == nameof(loggedUserState.LoggedUser) ||
            e.PropertyName == nameof(loggedUserState.LoggedUser.AppPreferences.SelectedFont) ||
            e.PropertyName == nameof(loggedUserState.LoggedUser.AppPreferences.SelectedFontSize) ||
            e.PropertyName == nameof(loggedUserState.LoggedUser.AppPreferences.WebpageAnimalPreference))
        {
            backgroundImagePath = loggedUserState.GetBackgroundImage();
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        // Unsubscribe from the PropertyChanged event of AppPreferences
        if (loggedUserState.LoggedUser != null && loggedUserState.LoggedUser.AppPreferences != null)
        {
            loggedUserState.LoggedUser.AppPreferences.PropertyChanged -= OnAppPreferencesChanged;
        }
    }
}
