@page "/ContactUs"
@inject LoggedUserState LoggedUserState

<div class="background-container">
    <img src="./Images/cartoon_dog_and_cat.jpg" alt="buddies" class="background-image"/>
    <div class="card">
        <div class="container">
            <h1 style="@LoggedUserState.H1StyleTagCSS">Contact GreenPaws Veterinary Care</h1>
            <div class="row">
                <div class="col">
                    <p style="@LoggedUserState.PStyleTagCSS">Have questions or concerns? We're here to help! Get in touch with us using the following methods:</p>
                    <div class="contact-details">
                        <p style="@LoggedUserState.PStyleTagCSS"><span class="contact-method">Phone:</span> (123) 456-7890</p>
                        <p style="@LoggedUserState.PStyleTagCSS"><span class="contact-method">Email:</span> info@greenpawsvet.com</p>
                        <p style="@LoggedUserState.PStyleTagCSS"><span class="contact-method">Address:</span> 123 Pet Street, Pawsborough</p>
                    </div>
                </div>
                <div class="col">
                    <p style="@LoggedUserState.PStyleTagCSS">Feel free to reach out to us during our business hours:</p>
                    <p style="@LoggedUserState.PStyleTagCSS">
                        Monday - Friday: 8:00 AM - 6:00 PM<br>
                        Saturday: 9:00 AM - 4:00 PM<br>
                        Sunday: Closed
                    </p>
                </div>
            </div>
            <div class="row">
                <p style="@LoggedUserState.PStyleTagCSS">We value your feedback and are excited to assist you and your pets on their journey to a healthier lifestyle. Don't hesitate to contact us!</p>
            </div>
        </div>
    </div>
</div>


@code
{

    public event PropertyChangedEventHandler PropertyChanged;

    /// <summary>
    /// On initialized setup propertyChanged event and load the page data.
    /// </summary>
    protected override void OnInitialized()
    {
        LoggedUserState.PropertyChanged += OnLoggedUserStateChanged;

        // Subscribe to the PropertyChanged event of AppPreferences
        if (LoggedUserState.LoggedUser != null && LoggedUserState.LoggedUser.AppPreferences != null)
        {
            LoggedUserState.LoggedUser.AppPreferences.PropertyChanged += OnAppPreferencesChanged;
        }
    }

    /// <summary>
    /// If the user logs in; update the data on this page.
    /// </summary>
    /// <param name="sender"></param>
    /// <param name="e"></param>
    private void OnLoggedUserStateChanged(object sender, PropertyChangedEventArgs e)
    {
        // Check if the property that changed is "LoggedUser"
        if (e.PropertyName == nameof(LoggedUserState.LoggedUser))
        {
            LoggedUserState.LoggedUser.AppPreferences.PropertyChanged += OnAppPreferencesChanged;
            StateHasChanged();
        }
    }

    // Handle changes to the AppPreferences or its sub-properties
    private void OnAppPreferencesChanged(object sender, PropertyChangedEventArgs e)
    {
        // Check if the property that changed is one of the AppPreferences properties
        // that you want to monitor
        if (e.PropertyName == nameof(LoggedUserState.LoggedUser) ||
            e.PropertyName == nameof(LoggedUserState.LoggedUser.AppPreferences.SelectedFont) ||
            e.PropertyName == nameof(LoggedUserState.LoggedUser.AppPreferences.SelectedFontSize) ||
            e.PropertyName == nameof(LoggedUserState.LoggedUser.AppPreferences.WebpageAnimalPreference))
        {
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        // Unsubscribe from the PropertyChanged event of AppPreferences
        if (LoggedUserState.LoggedUser != null && LoggedUserState.LoggedUser.AppPreferences != null)
        {
            LoggedUserState.LoggedUser.AppPreferences.PropertyChanged -= OnAppPreferencesChanged;
        }
    }
}
