@page "/ContactUs"
@inject UserPreferences UserPreferencesInstance

<div class="container scrollable-container">
    <h1>Contact GreenPaws Veterinary Care</h1>
    <div class="row">
        <div class="col">
            <p style="@UserPreferencesInstance.PStyleTag">Have questions or concerns? We're here to help! Get in touch with us using the following methods:</p>
            <div class="contact-details">
                <p style="@UserPreferencesInstance.PStyleTag"><span class="contact-method">Phone:</span> (123) 456-7890</p>
                <p style="@UserPreferencesInstance.PStyleTag"><span class="contact-method">Email:</span> info@greenpawsvet.com</p>
                <p style="@UserPreferencesInstance.PStyleTag"><span class="contact-method">Address:</span> 123 Pet Street, Pawsborough</p>
            </div>
        </div>
        <div class="col">
            <p style="@UserPreferencesInstance.PStyleTag">Feel free to reach out to us during our business hours:</p>
            <p style="@UserPreferencesInstance.PStyleTag">
                Monday - Friday: 8:00 AM - 6:00 PM<br>
                Saturday: 9:00 AM - 4:00 PM<br>
                Sunday: Closed
            </p>
        </div>
    </div>
    <div class="row">
        <p>We value your feedback and are excited to assist you and your pets on their journey to a healthier lifestyle. Don't hesitate to contact us!</p>
    </div>
</div>


@code
{

    protected override async Task OnInitializedAsync()
    {
        UserPreferencesInstance.PreferencesChanged += OnUserPreferencesChange;
    }

    private void OnUserPreferencesChange(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}
