@page "/fetchdata"

@using APP.Data
@using APP.Data.Services;
@using static APP.Data.Models.Models;
@inject IUserService userService;

<div class="background-container">
    <img src="./Images/three_stooges.jpg" alt="buddies" class="background-image"/>
    <div class="card">
        <div class="flex-column">
            <div class="title">
                <h1>Users and Pets</h1>
            </div>
            <div class="flex-row">
                @if (users == null)
                {
                    <p>loading...</p>
                }
                else if (users.Count < 1)
                {
                    <p>Retrieved nothing</p>
                    <button @onclick=LoadDataAsync>Try again</button>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>username</th>
                                <th>First Name</th>
                                <th>Surname</th>
                                <th>Phone number</th>
                                <th>Email</th>
                                <th>Suburb</th>
                                <th>Postcode</th>
                                <th>webpageAnimalPreference</th>
                                <th>Pets</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in users)
                            {
                                <tr>
                                    <td>@user.LoginUsername</td>
                                    <td>@user.FirstName</td>
                                    <td>@user.Surname</td>
                                    <td>@user.PhoneNumber</td>
                                    <td>@user.Email</td>
                                    <td>@user.Suburb</td>
                                    <td>@user.Postcode</td>
                                    <td>@user.WebpageAnimalPreference</td>
                                    @if (user.Pets != null && user.Pets.Count != 0)
                                    {
                                        <td>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Pet Name</th>
                                                        <th>Pet Breed</th>
                                                        <th>Pet Age</th>
                                                        <th>Pet Gender</th>
                                                        <th>Pet discoverability</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (Pet pet in user.Pets)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @pet.PetName
                                                            </td>
                                                            <td>
                                                                @pet.PetBreed
                                                            </td>
                                                            <td>
                                                                @pet.PetAge
                                                            </td>
                                                            <td>
                                                                @pet.PetGender
                                                            </td>
                                                            <td>
                                                                @pet.PetDiscoverability
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .title{
        padding: 20px;
        display: flex;
        justify-content: center;
    }
</style>

@code {
    private List<User> users;
    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    public async Task LoadDataAsync()
    {
        users = await userService.GetAllUsersList();
    }
}
