@page "/login-logout"
@using APP.Services;
@using APP.Interfaces;
@using APP.States;
@using APP.Data.Models;

@inject IUserService userService;
@inject LoggedUserState loggedUserState

<div class="background-container">
    <img src=@backgroundImagePath alt="buddies" class="background-image"/>
    <div class="card">

        @if (loggedUserState.LoggedUser != null)
        {
            <button class="btn btn-primary" @onclick="Logout"> Logout</button>
        }
        else
        {
            <div class="centered title">
                <h1 style="@loggedUserState.H1StyleTagCSS">Login Page</h1>
            </div>
            <EditForm class="form-container" Model="loginRequest" OnValidSubmit="HandleValidLoginSubmit">
                @if(Loading)
                {
                    <LoadingSpinner></LoadingSpinner>
                }
                <div class="centered">
                    <div style="@loggedUserState.PStyleTagCSS">
                        <label for="loginUsername">Username:</label>
                        <InputText id="loginUsername" class="inputs" @bind-Value="loginRequest.LoginUsername" />
                        <ValidationMessage For="@(() => loginRequest.LoginUsername)" />
                    </div>
                </div>
                <div class="row-cols centered">
                    <div style="@loggedUserState.PStyleTagCSS">
                        <label for="loginPassword">Password:</label>
                        <InputText type="password" id="loginPassword" class="inputs" @bind-Value="loginRequest.LoginPassword" />
                        <ValidationMessage For="@(() => loginRequest.LoginPassword)" />
                    </div>
                </div>
                <div class="row-cols centered">
                    <button style="@loggedUserState.PStyleTagCSS" class="login-button" type="submit">Login</button>
                </div>
            </EditForm>
        }
    </div>
</div>

@code 
{

    private bool Loading = false;

    private LoginRequest loginRequest = new LoginRequest();
    private List<User> users;
    public string backgroundImagePath = "./Images/Background_Images/Dog_Background1.jpg";
    
    protected override async Task OnInitializedAsync()
    {
        backgroundImagePath = loggedUserState.GetBackgroundImage();
    }


    private async Task HandleValidLoginSubmit()
    {
        Loading = true;
        StateHasChanged();
        loggedUserState.LoggedUser = await userService.LoginUser(loginRequest);
        backgroundImagePath = loggedUserState.GetBackgroundImage();
        Loading = false;
        StateHasChanged();
    }

    private void HandleValidNewUserSubmit()
    {

        // Perform further processing, such as saving the user data
        // You can access user.Username, user.Email, etc.
    }

    public void Logout()
    {
        loggedUserState.LoggedUser = null;
        backgroundImagePath = loggedUserState.GetBackgroundImage();
        StateHasChanged();
    }
}
